<section class="my-5 container courses-sections">
  @if (filterOptions && pageData) {
    <div class="row">
      <div class="col-12 col-lg-3">
        <h1 class="text-uppercase h3 fw-bold mb-3 d-lg-none d-block">
          Khóa học
        </h1>
        <app-category-list [categories]="filterOptions.categories" />
      </div>
      <!-- <div class="col-12 col-lg-9"> -->
      <div class="col-12 col-lg-9">
        <app-course-filter
          [target]="target"
          [targets]="filterOptions.targetGrades"
        />
        <app-subject-filter
          [subject]="subject"
          [subjects]="filterOptions.subjects"
        />

        <app-search-result [pageData]="pageData" />
        @if (pageData.totalPages != 0) {
          <app-pagination [paginationModel]="paginationModel" />
        } @else {
          <app-empty />
        }
      </div>
    </div>
  } @else {
    <app-spinner />
  }
</section>
