<section class="container mt-4">
  <div class="btn-group mb-4 p-2 rounded-3 shadow-sm">
    <button
      type="button"
      class="btn btn-danger rounded-3"
      [class.deactive]="!isPaidTab"
      (click)="switchTab(true)"
    >
      Chưa thanh toán
    </button>
    <button
      type="button"
      class="btn btn-success rounded-3"
      [class.deactive]="isPaidTab"
      (click)="switchTab(false)"
    >
      Đã thanh toán
    </button>
  </div>
  <div class="invoice-list" [class.d-none]="!isPaidTab">
    @if (unpaidInvoices && unpaidInvoices.length > 0) {
      @for (item of unpaidInvoices; track $index) {
        <app-invoice-card [invoice]="item" />
      }
    } @else {
      <app-empty />
    }
  </div>
  <div class="invoice-list" [class.d-none]="isPaidTab">
    @if (paidInvoices && paidInvoices.length > 0) {
      @for (item of paidInvoices; track $index) {
        <app-invoice-card [invoice]="item" />
      }
    } @else {
      <app-empty />
    }
  </div>
</section>
