<div class="row justify-content-between align-items-center">
  <nav aria-label="breadcrumb" class="col-12 col-md">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="[]">Tài liệu của tôi</a>
      </li>
      <!-- Sửa từ 'breadcrumb' sang 'breadcrumbsList' -->
      @for (item of breadcrumbsList; track item.id) {
        @if ($last) {
          <li class="breadcrumb-item active" aria-current="page">
            {{ item.resourceName }}
          </li>
        } @else {
          <li class="breadcrumb-item">
            <a
              [routerLink]="[]"
              [queryParams]="{ id: item.id }"
              [queryParamsHandling]="'merge'"
              >{{ item.resourceName }}</a
            >
          </li>
        }
      }

      <!-- <li class="breadcrumb-item active" aria-current="page">Vật lý</li> -->
    </ol>
  </nav>
  <div class="col-12 col-md-auto mb-3 mb-md-0">
    <input
      type="file"
      (change)="uploadResource($event)"
      style="display: none"
      #fileInput
    />
    <button class="btn btn-tertiary py-2 me-1" (click)="fileInput.click()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        fill="currentColor"
        class="bi bi-cloud-arrow-up-fill me-1"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z"
        />
      </svg>
      <span>Tải lên</span>
    </button>
    <button class="btn btn-primary-custom py-2" (click)="openAddFolderModal()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        fill="currentColor"
        class="bi bi-folder-plus me-1"
        viewBox="0 0 16 16"
      >
        <path
          d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"
        />
        <path
          d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"
        />
      </svg>
      <span>Thư mục mới</span>
    </button>
  </div>
</div>
