@if (course) {
  @if (course.video) {
    <div class="ratio ratio-16x9 mb-4">
      <video controls poster="assets/images/about-us.jpg">
        <source
          src="https://res.cloudinary.com/demo/video/upload/q_auto,vc_av1/rafting.webm"
          type="video/mp4"
        />
      </video>
    </div>
  }
  <div class="shadow px-4 py-4 rounded-4">
    <h3 style="font-size: 32px">Mô tả</h3>
    <hr />

    <div
      class="description lh-lg text-justify"
      [innerHTML]="course.description || 'Không có mô tả'"
    ></div>

    <table class="table table-bordered table-hover table-custom mt-3">
      <thead>
        <tr>
          <th scope="col" class="col-stt">STT</th>
          <th scope="col">Buổi học</th>
        </tr>
      </thead>
      <tbody>
        @for (item of lessons; track $index) {
          <tr>
            <td scope="row" class="text-center">{{ $index + 1 }}</td>
            <td>{{ item.title }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
