.chart-container {
    width: 250px;
    /* Điền kích thước bạn muốn giảm xuống ở đây */
    height: 250px;
    /* Thường biểu đồ tròn nên để width = height */
    margin: 0 auto;
    /* Căn giữa chart nếu cần */
}