@if (isFloating) {
  <div class="form-floating mb-3 has-validation">
    <input
      [formControl]="control"
      [type]="type"
      class="form-control"
      [class.is-invalid]="isInvalid"
      [placeholder]="placeholder"
      [id]="id"
      (keydown)="onKeyDown($event)"
      (paste)="onPaste($event)"
      [readOnly]="readOnly"
    />
    <label [for]="id">{{ label }}</label>

    @if (control.dirty || control.touched) {
      @if (isInvalid && errorMessage) {
        <div class="invalid-feedback">{{ errorMessage }}</div>
      }
    }
  </div>
} @else {
  <div class="has-validation">
    <label [for]="id" class="form-label">{{ label }}</label>
    <input
      [formControl]="control"
      [type]="type"
      class="form-control form-input"
      [class.is-invalid]="isInvalid"
      [placeholder]="placeholder"
      [id]="id"
      [readOnly]="readOnly"
      (keydown)="onKeyDown($event)"
      (paste)="onPaste($event)"
    />

    @if (control.dirty || control.touched) {
      @if (isInvalid && errorMessage) {
        <div class="invalid-feedback">{{ errorMessage }}</div>
      }
    }
  </div>
}
