<!-- Nav pills -->
@if (section) {
  <ul class="nav nav-pills">
    <li class="nav-item cursor-pointer">
      <a
        class="nav-link"
        [class.active]="isDescription"
        data-bs-toggle="pill"
        (click)="switchTab(true)"
        >Mô tả</a
      >
    </li>
    <li class="nav-item cursor-pointer">
      <a
        class="nav-link"
        [class.active]="!isDescription"
        data-bs-toggle="pill"
        (click)="switchTab(false)"
        >Tài liệu</a
      >
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content mt-3 mb-4 bg-border-color-lite rounded-2 py-3">
    <div
      class="tab-pane container"
      [class.active]="isDescription"
      [class.fade]="!isDescription"
      id="description"
      [innerHTML]="section.description"
    >
      <!-- <p>
      <strong
        ><span style="color: #236fa1">Nội dung kiến thức</span><br /></strong
      >&nbsp;• Đây là khoá học nền móng giúp làm chủ mọi dạng bài trong đề thi
      và là kiến thức căn bản làm tiền đề cho các kiến thức Vận dụng và Vận dụng
      cao.<br />&nbsp;• Giáo án được đội ngũ giáo viên có kinh nghiệm dày dặn
      biên soạn mới hoàn toàn theo chương trình SGK mới.<br />&nbsp;• Bao gồm
      hơn 300 bài giảng theo chuyên đề
    </p> -->
    </div>
    <div
      class="tab-pane container"
      [class.active]="!isDescription"
      [class.fade]="isDescription"
      id="material"
    >
      <div class="row g-2">
        @if (section.materials && section.materials.length > 0) {
          @for (item of section.materials; track $index) {
            <div class="col-6">
              <a
                [href]="item.url"
                [download]="item.resourceName"
                target="_blank"
                class="bg-white rounded-3 d-flex align-items-center py-3 px-3 border cursor-pointer text-decoration-none text-dark"
              >
                <app-dynamic-icon
                  width="32"
                  height="32"
                  fill="currentColor"
                  className="me-2"
                  icon="file_earmark"
                  viewBox="0 0 16 16"
                />
                <p class="mb-0">{{ item.resourceName }}</p>
              </a>
            </div>
          }
        }
      </div>
    </div>
  </div>
}
