.attendance-sidebar {
  position: sticky;
  top: 80px;
  align-self: flex-start;
}

.attendance-scroll {
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

/* nền track */
.attendance-scroll::-webkit-scrollbar-track {
  background: #ffffff !important; /* hoặc #f8f9fa nếu muốn nhẹ hơn */
}

.attendance-sidebar .attendance-card:hover {
  background-color: var(--primary-color) !important;
  color: white;
}
