@if (classOfTeacher) {
  <section class="my-4 container courses-sections">
    <div class="row">
      <div class="col-12">
        @if (classOfTeacher.teacherName) {
          <app-course-filter
            [title]="`Các lớp học của giáo viên ${classOfTeacher.teacherName}`"
            [targets]="targets"
            [target]="target"
          />
          <hr />
          <app-classes-list [classesData]="classes" />
          @if(pagination){
            <app-pagination [paginationModel]="pagination" />
          }
        } @else {
          <app-empty />
        }
      </div>
    </div>
  </section>
} @else {
  <app-spinner />
}
