.attendance-teacher .attendance-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.attendance-teacher .attendance-header {
  background-color: var(--border-color-light) !important;
}

.attendance-teacher .attendance-row:nth-child(odd) {
  background-color: var(--border-color-lite);
}

@media (max-width: 1023px) {
  .attendance-teacher {
    overflow-y: scroll;
  }

  .min-w-700{
    min-width: 1200px;
    /* overflow-y: scroll; */
  }
}