<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom sticky-top py-2">
  <div class="container max-w-container">
    <!-- LOGO -->
    <a
      class="navbar-brand navbar-brand-custom m-0"
      routerLink="/hoc-vien/trang-chu"
    >
      <img src="assets/images/logo-Photoroom.png" width="40" height="40" />
      <span>StudyHub</span>
    </a>

    <!-- RIGHT GROUP (quan trọng) -->
    <div class="d-flex align-items-center gap-2 order-lg-last">
      <!-- USER DROPDOWN -->
      <app-user-dropdown />

      <!-- TOGGLE -->
      <button
        class="navbar-toggler border-0 p-1 ms-2"
        type="button"
        [attr.aria-expanded]="!isMenuCollapsed"
        aria-label="Toggle navigation"
        (click)="isMenuCollapsed = !isMenuCollapsed"
      >
        <span class="material-symbols-outlined fs-2">menu</span>
      </button>
    </div>

    <!-- MENU -->
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      [ngbCollapse]="isMenuCollapsed"
    >
      <ul class="ms-0 ms-lg-3 navbar-nav me-auto mb-0">
        <li class="nav-item">
          <a
            class="nav-link nav-link-custom py-1"
            routerLink="/hoc-vien/trang-chu"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Học tập</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-custom py-1"
            routerLink="/hoc-vien/thanh-toan-hoc-phi"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Thanh toán học phí</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
