.lesson-title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.lesson-content {
  height: calc(100vh - 115px);
  overflow-y: scroll;

  /* Chrome, Edge, Safari */
  scrollbar-width: none; /* Firefox */
}

.lesson-content::-webkit-scrollbar {
  display: none;
}